<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="/assets/css/dist/flexy.min.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% endblock head %}
    </head>
    <body>
        {% include 'includes/nav.html.twig' %}
        {% block body %}
    
        
        {% endblock %}
        {% block javascripts %}
            <script src="/assets/js/dist/flexy.js"></script>
        {% endblock %}
    </body>
</html>
