{% extends "base.template.html.twig" %}
{% block title %}Products{% endblock %}
{% block body %}
<div class="container">
    <h1>Products</h1>
    <div class="btn-wraper"><a href="/products/new" role="button" class="btn btn-primary">New</a></div>
    <table class="table thead-dark table-striped table-hover table-edit">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th colspan="2" align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr data-id="{{ product.id }}">
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td><a href="/products/edit/{{product.id}}" class="oi oi-pencil"></a></td>
                    <td><span class="oi oi-trash"></span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'includes/modal-confirm.html.twig' with {'bodyModal': 'You are you sure you would like to delete this product?'} %}
{% endblock %}